<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <section class="container">
    <div class="ship">
      <div class="ship__header">
        <p class="ship__back">
          <svg [routerLink]="['/']" width="10" height="10" viewBox="0 0 10 10" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.66667 4.41665L2.5675 4.41665L5.82834 1.15581L5 0.333313L0.333336 4.99998L5 9.66665L5.8225 8.84415L2.5675 5.58331L9.66667 5.58331V4.41665Z"
                  fill="#2962FF"/>
          </svg>
          Вернуться
        </p>
        <h1 class="ship__title">{{ launchDetails.name }}</h1>
      </div>
      <div class="ship__main">
        <div class="ships__block">
          <h2 class="ships__description">Тип <span>{{ launchDetails.type }}</span></h2>
          <h2 class="ships__description">Порт <span>{{ launchDetails.home_port }}</span></h2>
        </div>
        <div class="ships__block">
          <h2 class="ships__description">Вес <span>{{ launchDetails.weight_kg == null ? "Не известно" : launchDetails.weight_kg }} кг</span></h2>
          <h2 class="ships__description">Год <span>{{ launchDetails.year_built }}</span></h2>
        </div>
      </div>
      <div class="ship__missions">
        <h2 class="ships__description">Миссии</h2>
        <div class="ship__mission">
          <p *ngFor="let mission of launchDetails.missions">{{mission.name+ ";"}}</p>
        </div>
      </div>
    </div>
  </section>
</ng-container>
